<section class="contact py-5">
  <div class="container py-5 t">
    <div class="row">
      <div class="col-lg-5 m-auto text-center">
        <h1>Contact Us</h1>
        <h6>Always be in Touch With Us</h6>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-lg-9 m-auto">
        <div class="row">
          <div class="col-lg-4">
            <h5>LOCATION</h5>
            <p>Wonderland, 00100 Caput Mundi Street, 1</p>

            <h5>PHONE</h5>
            <p>0333-6210</p>

            <h5>EMAIL</h5>
            <p>magicShop@gmail.com</p>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="First Name">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="Last Name">
              </div>
              <div class="row">
                <div class="col-lg-12 py-3">
                  <textarea name="" id="" cols="30" rows="10" class="form-control bg-light"
                    placeholder="Enter your Name "></textarea>
                </div>
              </div>
              <button class="btn1">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
