
<section class="header-top p-2" id="">
  <div class="container-fluid p-0 d-flex justify-content-between border">
   <div>Magic Airlines</div>
     <div class="d-flex p-2">
      <i class="fas fa-book-reader fa-2x mx-3"></i>
      <i class="fas fa-book-reader fa-2x mx-3"></i>
      <i class="fas fa-book-reader fa-2x mx-3"></i>
      <i class="fas fa-book-reader fa-2x mx-3"></i>

    </div>
  </div>
</section>
<section class="header" id="">
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <i class="fas fa-book-reader fa-2x mx-3"></i>Books</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-right text-light"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['home']">HOME
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['course']">COURSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRICE</a>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown">
              <a href="#" class="nav-link">PAGES</a>
              <div class="dropdown-content">
                <a href="#">Generic</a>
                <a href="#">Element</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

    <!-- <h1>{{'maurizio' | uppercase }} </h1> -->
    <form [formGroup]="bookingFormGroup" (ngSubmit)="onSubmit()" >
    <div class="container d-flex my-5" style="height: 3em;" >
    <!-- <input type="text" name="da" formControlName="da" class="form-control bg-light" placeholder="Da" > -->
    <select name="da" formControlName="da" class="select form-control bg-light" placeholder="Da">
      <option [ngValue]="null" disabled>Parto da</option>
      <option *ngFor="let destinazione of destinazioni" [ngValue]="destinazione.id">{{destinazione.descrizione}}</option>
    </select>
    <select name="a" formControlName="a" class="form-control bg-light" placeholder="Da">
      <option [ngValue]="null" disabled>Arrivo a</option>
      <option *ngFor="let destinazione of arrivi" [ngValue]="destinazione.id">{{destinazione.descrizione}}</option>
    </select>
    <!-- <input type="text" name="a" formControlName="a" class="form-control bg-light" placeholder="A" > -->
    <input type="text" name="partenza" formControlName="partenza" dynamic-date-input id="partenza" class="form-control bg-light" placeholder="enter the date here" >
    
    <input type="text" name="arrivo" formControlName="arrivo" dynamic-date-input class="form-control bg-light" placeholder="enter the date here" >
    <button type="submit" class ="btn btn-lg border"><i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </div>
   </form>

</section>
