
    <section class="news py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-9 m-auto text-center">
            <h1>Join Our Secret Society</h1>
            <input type="text" placeholder="Enter Your Email" class="px-3">
            <button class="btn2">Submit</button>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row row-col-lg-3">
                <div class="col py-3">
                  <h5>CUSTOMER CARE</h5>
                  <p>Regular</p>
                  <p>On Time</p>
                  <p>Always care</p>
                </div>
                <div class="col py-3">
                  <h5>CUSTOMER CARE</h5>
                  <p>Regular</p>
                  <p>On Time</p>
                  <p>Always care</p>
                </div>
                <div class="col py-3">
                  <h5 >CUSTOMER CARE</h5>
                  <p>Regular</p>
                  <p>On Time</p>
                  <p>Always care</p>
                </div>
                <div class="col py-3">
                  <h5 class="pb-3">OUR SOCIAL</h5>
                  <span><i class="fab fa-facebook"> </i></span>
                  <span><i class="fab fa-instagram"> </i></span>
                  <span><i class="fab fa-twitter"> </i></span>
                  <span><i class="fab fa-google-plus"> </i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p class="text-center">Copyright @2022 All rights reserved | Made by Magico Peppe.</p>
      </div>
    </section>
